/* === === === Globals === === === */
:root {
    --primaryColor: hsl(177, 70%, 40%);
    --hoverColor: hsl(177, 70%, 35%);
    --ease: ease .5s all;
}
* {
    box-sizing: border-box;
    font-family: Verdana;
}
ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
li {
    padding: .5rem;
}
a {
    text-decoration: none;
    color: #000;
}
body, figure {
    margin: 0;
}
figure {
    text-align: center;
}
h1, h2, h3 {
    text-align: center;
}
input, label {
    display: block;
}
i {
    font-size: 2.2rem;
}
/* === === === Id === === === */
#navBtn {
    cursor: pointer;
}

/* === === === Utilities === === === */
.container {
    padding-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
/* === === === BEM === === === */

/* === Header === */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1rem;
    background-color: var(--primaryColor);
}
.nav {
    position: fixed;
    top: 10vh;
    left: -100vw;
    background-color: var(--primaryColor);
    transition: var(--ease);
    
    text-transform: uppercase;
}
/* === Main === */
.form > * {
    text-align: center;
    margin: .5rem 0;
}
.form input {
    margin: .5rem auto 0 auto;
}
.form input:first-of-type {
    width: 80%;
    padding: .5rem;
    text-align: start;
    border: #000 solid 1px;
    outline: none;
}
.form input:first-of-type:focus {
    background-color: #f4f4f4;
    outline: var(--hoverColor) solid 2px;
}
.form__btn {
    padding: .8rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primaryColor);
}
.form__btn:hover {
    background-color: var(--hoverColor);
}
.section__features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section__features p {
    text-align: start;
}
.features__div {
    margin: 4vh 0;
}

/* === Pricing Section === */

/* === Footer === */
